@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  margin: 0;
  background-color: rgba(178, 201, 215, 1);
  font-family: "Libre Baskerville", serif;
}

.div--pocetni_input {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.div--buttoni {
  display: flex;
}

.input--pretrazi_pacijenta {
  margin: 10px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: left;
  width: 50rem;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

.button--listing_pacijenata {
  margin: 10px;
  height: 46px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button--listing_pacijenata:hover {
  background-color: rgba(219, 220, 221, 1);
}

.button--dodaj_pacijenta {
  margin: 10px;
  height: 46px;
  width: 170px;
  border-radius: 10px;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button--dodaj_pacijenta:hover {
  background-color: rgba(219, 220, 221, 1);
}

.div--popup {
  display: flex;
  justify-content: center;
}

.button--dodaj_grad_main {
  margin: 10px;
  height: 46px;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button--dodaj_grad_main:hover {
  background-color: rgba(156, 166, 172, 1);
}

@media screen and (max-width: 1275px) {
  .div--pocetni_input form {
    display: flex;
    justify-content: center;
  }

  .div--pocetni_input {
    display: flex;
    flex-direction: column;
  }

  .div--buttoni {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 730px) {
  .button--listing_pacijenata {
    font-size: 14px;
  }

  .button--dodaj_pacijenta {
    font-size: 14px;
  }

  .button--dodaj_grad_main {
    font-size: 14px;
  }
}
